**Reading Inventory**

In [6]:
import json
f = open("record.json",'r')
r = f.read()
fd.close()
records = json.loads(r)

In [7]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Sofa', 'pr': 23000, 'qn': 20},
 '1011': {'name': 'Chair', 'pr': 1200, 'qn': 34},
 '1012': {'name': 'Table', 'pr': 2500, 'qn': 23},
 '1013': {'name': 'Mug', 'pr': 250, 'qn': 30},
 '1014': {'name': 'Toffee', 'pr': 2, 'qn': 200},
 '1015': {'name': 'Coffee', 'pr': 250, 'qn': 25},
 '1016': {'name': 'Plate', 'pr': 50, 'qn': 50},
 '1017': {'name': 'Glass', 'pr': 25, 'qn': 34},
 '1018': {'name': 'Pizza', 'pr': 300, 'qn': 2},
 '1019': {'name': 'Ketchup', 'pr': 99, 'qn': 20},
 '1020': {'name': 'Mayonnaise', 'pr': 120, 'qn': 30},
 '1021': {'name': 'Pickle', 'pr': 30, 'qn': 20},
 '1022': {'name': 'Salsa', 'pr': 30, 'qn': 30},
 '1023': {'name': 'Belt', 'pr': 200, 'qn': 20},
 '1024': {'name': 'Bed', 'pr': 23000, 'qn': 23},
 '1025': {'name': 'Mattress', 'pr': 3000, 'qn': 3},
 '1026': {'name': 'Vase', 'pr': 390, 'qn': 34},
 '1027': {'name': 'Artificial Flower', 'pr': 34, 'qn': 500},
 '1028': {'name': 'Carpet', 'pr': 3000, 'qn': 30},
 '1029': {'name': 'Rug', 'pr': 300, 'qn': 30},
 '1030': {'name': 'Towel', 'pr': 400, 'qn': 50},
 '1031': {'name': '23', 'pr': 24, 'qn': 34}}

**Purchasing from Inventory**

In [8]:
ui_prod  = input("Enter the Product Id: ")
ui_quant = int(input("Enter the Quantity: "))


print("Product: ", records[ui_prod]['name'])
print("Price: ", records[ui_prod]['pr'])
print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant

Enter the Product Id: 1030
Enter the Quantity: 1
Product:  Towel
Price:  400
Billing Amount:  400

**Updating Inventory After Purchase**

In [9]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [11]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Sofa', 'pr': 23000, 'qn': 20},
 '1011': {'name': 'Chair', 'pr': 1200, 'qn': 34},
 '1012': {'name': 'Table', 'pr': 2500, 'qn': 23},
 '1013': {'name': 'Mug', 'pr': 250, 'qn': 30},
 '1014': {'name': 'Toffee', 'pr': 2, 'qn': 200},
 '1015': {'name': 'Coffee', 'pr': 250, 'qn': 25},
 '1016': {'name': 'Plate', 'pr': 50, 'qn': 50},
 '1017': {'name': 'Glass', 'pr': 25, 'qn': 34},
 '1018': {'name': 'Pizza', 'pr': 300, 'qn': 2},
 '1019': {'name': 'Ketchup', 'pr': 99, 'qn': 20},
 '1020': {'name': 'Mayonnaise', 'pr': 120, 'qn': 30},
 '1021': {'name': 'Pickle', 'pr': 30, 'qn': 20},
 '1022': {'name': 'Salsa', 'pr': 30, 'qn': 30},
 '1023': {'name': 'Belt', 'pr': 200, 'qn': 20},
 '1024': {'name': 'Bed', 'pr': 23000, 'qn': 23},
 '1025': {'name': 'Mattress', 'pr': 3000, 'qn': 3},
 '1026': {'name': 'Vase', 'pr': 390, 'qn': 34},
 '1027': {'name': 'Artificial Flower', 'pr': 34, 'qn': 500},
 '1028': {'name': 'Carpet', 'pr': 3000, 'qn': 30},
 '1029': {'name': 'Rug', 'pr': 300, 'qn': 30},
 '1030': {'name': 'Towel', 'pr': 400, 'qn': 49},
 '1031': {'name': '23', 'pr': 24, 'qn': 34}}

**Sales JSON File**

In [12]:
{'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

{'amount': 400, 'prod': '1030', 'qn': 1}

In [17]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         2 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}}

In [18]:
sale = json.dumps(sales)

In [19]:
sale

'{"1": {"prod": "1030", "qn": 1, "amount": 400}, "2": {"prod": "1030", "qn": 1, "amount": 400}, "3": {"prod": "1030", "qn": 1, "amount": 400}}'